<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LuckyOfTheDay.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>FA7CBFC834F71E9FBFF425F0ABB1C0B0DE500ABA</string>
				<key>dateExpires</key>
				<string>9/6/2566 BE</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>JC345VDSLV.com.devwedo.luckyoftheday</string>
				<key>com.apple.developer.team-identifier</key>
				<string>JC345VDSLV</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>LuckyOfTheDay.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>6c4f24da-3240-4cfd-a911-14e582040d46</string>
				<key>dateExpires</key>
				<string>9/6/2566 BE</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.devwedo.luckyoftheday</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>JC345VDSLV</string>
				<key>name</key>
				<string>Nut Thudsathianwong</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
